.navigationlink {
  background-color: #eeffd9;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #65aa6c;
  font-size: 18px;
}

.navigationlink.w--current {
  color: #65aa6c;
}

.lotsnavbar {
  background-color: #eeffd9;
}

.navbartitle {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #65aa6c;
  font-size: 30px;
}

.navbartitle.w--current {
  color: #65aa6c;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  background-image: url('../images/leaves.png');
  background-position: 50% 50%;
  background-size: 200px;
  background-repeat: repeat;
  background-attachment: scroll;
}

.block-quote {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #666161;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 0px;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  margin-top: 27px;
  margin-bottom: 2px;
  padding: 87px;
}

.container-2 {
  padding: 0px;
}

.text-block {
  background-color: transparent;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #62745a;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.video {
  margin: 0px;
}

.div-block-2 {
  margin-top: -34px;
  margin-bottom: -5px;
  padding: 80px;
}

.section {
  margin-top: 29px;
  margin-bottom: 0px;
}

.container-3 {
  padding: 0px;
}

.centerhomediv {
  display: block;
  width: 450px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 25px 26px;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  white-space: normal;
}

.container-4 {
  height: 400px;
  margin-bottom: 4px;
  padding-top: 13px;
}

.section-2 {
  height: 400px;
}

.section-3 {
  height: 300px;
  background-image: url('../images/leaf3-1.png');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-4 {
  height: 450px;
}

.section-5 {
  height: 300px;
  background-image: url('../images/stream7-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-6 {
  height: 450px;
}

.section-7 {
  height: 300px;
  background-image: url('../images/leaf4-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.section-8 {
  height: 450px;
}

.section-9 {
  height: 150px;
  background-color: #b8b8b8;
}

.paragraph {
  display: block;
  margin-bottom: 34px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 16px;
}

.button {
  position: static;
  width: 105px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  background-color: #6fcf97;
}

.heading {
  margin-bottom: 24px;
  color: #8eb592;
}

.lefthomediv {
  width: 500px;
  padding: 23px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.heading-2 {
  margin-bottom: 29px;
  color: #8eb592;
}

.div-block-3 {
  width: 500px;
  padding: 23px;
  float: right;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: right;
}

.heading-3 {
  margin-bottom: 32px;
  color: #8eb592;
}

.button-2 {
  border-radius: 20px;
  background-color: #6fcf97;
}

.paragraph-2 {
  margin-bottom: 37px;
  font-size: 16px;
}

.paragraph-3 {
  font-size: 16px;
}

.div-block-4 {
  padding: 23px;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.button-3 {
  border-radius: 20px;
  background-color: #6fcf97;
}

.heading-4 {
  margin-bottom: 30px;
  color: #8eb592;
}

.paragraph-4 {
  margin-bottom: 30px;
  font-size: 16px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 41px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0px;
}

.link {
  color: #00880e;
  text-decoration: none;
}

.link-2 {
  color: #00880e;
  text-decoration: none;
}

.link-3 {
  color: #00880e;
  text-decoration: none;
}

.link-4 {
  color: #00880e;
  text-decoration: none;
}

.link-5 {
  color: #00880e;
  text-decoration: none;
}

.container-5 {
  margin-bottom: 0px;
  padding-bottom: 28px;
}

.text-block-2 {
  text-align: center;
}

.container-6 {
  height: 450px;
  padding-top: 60px;
}

.container-7 {
  height: 450px;
  padding-top: 75px;
}

.container-8 {
  height: 450px;
  padding-top: 90px;
}

.image {
  width: 60px;
}

.div-block-6 {
  width: 300px;
  height: 3px;
  margin-left: 323px;
  float: none;
  background-color: #00880e;
  text-align: center;
}

.div-block-7 {
  text-align: center;
}

.div-block-8 {
  margin-bottom: 57px;
  padding: 41px;
  text-align: center;
}

.div-block-9 {
  clear: none;
  text-align: center;
}

.heading-5 {
  padding: 50px;
  color: #8eb592;
}

.heading-6 {
  margin-bottom: 40px;
  padding: 24px;
  color: #8eb592;
}

.heading-7 {
  padding-bottom: 15px;
  color: #8eb592;
}

.paragraph-5 {
  margin-bottom: 81px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

.paragraph-6 {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

.container-9 {
  margin-bottom: 75px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.heading-8 {
  color: #8eb592;
}

.heading-9 {
  margin-bottom: 29px;
  color: #8eb592;
}

.paragraph-7 {
  font-size: 16px;
}

.paragraph-8 {
  font-size: 16px;
}

.paragraph-9 {
  font-size: 16px;
}

.paragraph-10 {
  margin: 29px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

.paragraph-11 {
  font-size: 16px;
}

.paragraph-12 {
  clear: none;
  font-size: 16px;
}

.paragraph-13 {
  font-size: 16px;
}

.paragraph-14 {
  padding: 0px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

.heading-10 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8eb592;
  text-align: center;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
  padding: 49px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutusvideo {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #8eb592;
  padding: 20px;
}

.heading-11 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8eb592;
}

.container-10 {
  margin-bottom: 105px;
}

.heading-12 {
  margin: 0px;
  font-size: 45px;
  text-align: center;
}

.div-block-11 {
  margin: 59px;
}

.container-11 {
  padding: 169px 0px;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8eb592;
  font-size: 14px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 130px 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-12 {
  margin-bottom: 292px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-block-13 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8eb592;
  text-align: center;
}

.heading-13 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8eb592;
}

.container-13 {
  margin-top: -1px;
  margin-bottom: -1px;
  padding-top: 141px;
  padding-bottom: 141px;
}

.heading-14 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8eb592;
  font-size: 45px;
  text-align: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  padding-bottom: 306px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Screenshot-from-2021-05-04-11-54-56.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Screenshot-from-2021-05-04-11-54-32.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Screenshot-from-2021-05-04-11-54-46.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  padding-bottom: 500px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 425px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/contact-conner.jpg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.p2 {
  background-image:url('../images/contact-agui.jpg')
}

.p3 {
  background-image:url('../images/contact-mel.jpg')
}

.heading-15 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}
